<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="login-form">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="title">INICIAR SECION</mat-card-title>
      <h1></h1>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>USER</mat-label>
        <input matInput formControlName="code" required>
        <mat-icon matPrefix>code</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>PASSWORD</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-icon matPrefix>lock</mat-icon>
      </mat-form-field>
      <div class="actions">
        <button mat-raised-button color="primary" type="submit" class="login-button">INICIAR SECION</button>
      </div>
    </mat-card-content>
  </mat-card>
</form> 